<!-- <div *ngFor="let item of mentorData">
    {{item.Mentorname}}
</div> -->
<!-- <div class="card deck">
    <div *ngFor="let item of mentorData">
    <div class="card border-dark mb-3">   
        <div class="card-body">
                <div class="row card-item">
                <h4 class="card-title col-sm-3">John Doe</h4> 
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col-sm-3">Course</th>
                            <th scope="col-sm-3">Course Dates</th>
                            <th scope="col-sm-3">Status</th>
                            <th scope="col-sm-3">Payment</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <th scope="row">MEAN Stack</th>
                                <td>23thDec-24thJan</td>
                                <td>Proposed</td>
                                <td>
                                        <div class="rate">
                                                <input type="radio" id="star5" name="rate" value="5" />
                                                <label for="star5" title="text">5 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4" />
                                                <label for="star4" title="text">4 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3" />
                                                <label for="star3" title="text">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2" />
                                                <label for="star2" title="text">2 stars</label>
                                                <input type="radio" id="star1" name="rate" value="1" />
                                                <label for="star1" title="text">1 star</label>
                                        </div>
                                </td>  
                                <td><button class="btn btn-primary" routerLink="payment">Payment</button></td>             
                            </tr>
                            
                    </tbody>
                </table>
            </div>
        </div>             
    </div>
    
</div>
</div> -->