<div class="container-fluid">
<form >
    <div class="row">

    <div class="form-group col-sm-12" >
        <label for="tech">Search Technology:</label>
        <input type="text" class="form-control" placeholder="Search Technology" name="search-tech" aria-label="Search" required>
    </div>

            
        <div class="form-group col-sm-3">
            <label for="start">Start Date</label>
            <input class="form-control " type="date" placeholder="months" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="start">End Date</label>
            <input class="form-control " type="date" placeholder="months" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="timestart">Start Time</label>
            <input class="form-control" type="time" value="13:45:00" id="example-time-input" required>
			
        </div>
        <div class="form-group col-sm-3">
            <label for="timestart">End Time</label>
            <input class="form-control" type="time" value="13:45:00" id="example-time-input" required>
			
        </div>    
    </div>
    <div class="wrapper">
     <a routerLink="../user/mentor_search"><button type="submit" class="btn btn-primary button" >Search</button></a>
    </div>
</form>
</div>

